* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.portada {
  position: relative;
  margin-top: -40px;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 47%, transparent 100%);
}

.contador {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 100%;
  margin-bottom: 15%;
}

.fecha {
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 30px;
  background-color: #ffffff;
  font-family: "Times New Roman", Times, serif;
}

section {
  width: 100%;
  padding: 5px;

  border: 1px solid #ffffff;
  background-color: #ffffff;
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  border: 3px solid #ffffff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #23b987;
  width: 20%;
  color: #000000;
  padding: 5px;
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

th {
  border: 3px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #23b987;
  color: #000000;
  text-align: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 20px;
  font-size: 15px;
}
